<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <h1>Liste des employés</h1>
    <table>
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${employees.empty}">
                <td colspan="3">Aucun employée en bdd</td>
            </tr>
            <tr th:each="employee: ${employees}">

            </tr>
        </tbody>
    </table>

</body>
</html>